.background-1 {
  background-image: url(../../assets/bg.png);
  background-size: cover;
  width: 1024px;
  height: 768px;
  position: relative;
}

.home__greeting {
  margin-top: 160px;
  letter-spacing: 4px;
}
.home__info {
  position: relative;
  font-size: 90px;
  letter-spacing: 4px;
  z-index: 10;
  font-family: var(--third-font);
  font-weight: 400;
  z-index: 2;
}
.home__info span {
  font-family: unset;
  font-weight: 800;
  line-height: 0;
}
.home__info-button {
  position: absolute;
  left: 530px;
  bottom: 100px;
}

/* --------------------КАРТИНКИ НА ЗАДНЕМ ПЛАНЕ--------------------------*/
.overlay-image-11 {
  content: "";
  position: absolute;
  top: 100px;
  width: 125px;
  height: 115px;
  background-image: url("../../assets/Layer\ 7.png");
  background-size: contain;
}
.overlay-image-12 {
  content: "";
  position: absolute;
  top: 78px;
  left: 744px;
  width: 60px;
  height: 54px;
  background-image: url("../../assets/Layer\ 5.png");
  background-size: contain;
}
.overlay-image-13 {
  content: "";
  position: absolute;
  top: 165px;
  left: 390px;
  width: 570px;
  height: 90px;
  background-image: url("../../assets/pink_sperm_1.png");
  background-size: contain;
}
.overlay-image-14 {
  content: "";
  position: absolute;
  top: 220px;
  left: 860px;
  width: 88px;
  height: 90px;
  background-image: url("../../assets/Layer\ 8.png");
  background-size: contain;
}
.overlay-image-15 {
  content: "";
  position: absolute;
  top: 500px;
  left: 22px;
  width: 70px;
  height: 68px;
  background-image: url("../../assets/bakti_1.png");
  background-size: contain;
  z-index: 1;
}
.overlay-image-16 {
  content: "";
  position: absolute;
  top: 590px;
  left: 0px;
  width: 270px;
  height: 120px;
  background-image: url("../../assets/pink_sperm.png");
  background-size: contain;
  z-index: 1;
}
.overlay-image-17 {
  content: "";
  position: absolute;
  top: 600px;
  left: 340px;
  width: 80px;
  height: 70px;
  background-image: url("../../assets/Layer\ 4\ copy.png");
  background-size: contain;
  z-index: 1;
}
.overlay-image-18 {
  content: "";
  position: absolute;
  top: 618px;
  left: 530px;
  width: 270px;
  height: 150px;
  background-image: url("../../assets/Layer\ 4.png");
  background-size: contain;
  z-index: 1;
}
