.navbar {
  width: 148px;
  height: 25.5px;
  padding-top: 25.5px;
  display: grid;
  grid-template-columns: 33% 16% 33%;
}
.navbar-icon {
  color: var(--title-color);
  font-size: 24px;
}
.navbar span {
  background-color: var(--title-color);
  display: block;
  width: 1px;
  height: 28px;
  border-radius: 2px;
}
.navbar-title {
  font-family: unset;
  color: var(--title-color);
  letter-spacing: 2px;
  font-weight: var(--weight-400);
}
.onpoint-image {
  content: "";
  position: absolute;
  top: 740px;
  left: 66px;
  width: 56px;
  height: 12px;
  background-image: url("../../assets/Shape\ 1.png");
  background-size: contain;
}
