.background-2 {
  background-image: url(../../assets/bg2.png);
  background-size: cover;
  width: 1024px;
  height: 768px;
  position: relative;
}
.description__message {
  margin-top: 120px;
  letter-spacing: 4px;
}
.description__info {
  max-width: 840px;
  max-height: 445px; /* Установите желаемую высоту */
  overflow: scroll; /* или overflow: scroll; */
  direction: rtl;
  position: relative; /* Добавьте позиционирование */
  padding: 10px;
  z-index: 2;
}

.description__info::-webkit-scrollbar {
  width: 20px;
}

.description__info::-webkit-scrollbar-thumb {
  background: linear-gradient(
    135deg,
    #d14e82,
    #ff6a9f,
    #fa86af,
    hsl(339, 94%, 81%)
  );
  border-radius: 35px;
}

.description__info::-webkit-scrollbar-track {
  border-radius: 35px;
  margin-top: 50px;
  width: 10px;
}
.description__info::-webkit-scrollbar-corner {
  display: none;
}

.description__info p {
  max-width: 770px;
  background-color: white;
  margin-top: 35px;
  padding: 35px 50px 35px 30px;
  font-size: 22px;
  border-radius: 35px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  direction: ltr;
  position: relative;
  z-index: 100;
}
.description__info span {
  font-weight: 600;
}

/* --------------------КАРТИНКИ НА ЗАДНЕМ ПЛАНЕ--------------------------*/
.overlay-image-21 {
  content: "";
  opacity: 0;
  position: absolute;
  top: 110px;
  left: 370px;
  width: 655px;
  height: 290px;
  background-image: url("../../assets/Layer\ 3\ copy\ 6.png");
  background-size: contain;
  z-index: 1;
  animation: appearAndMove2 2s ease-in-out 1s forwards;
}
.overlay-image-22 {
  content: "";
  opacity: 0;
  position: absolute;
  top: 95px;
  left: 580px;
  width: 440px;
  height: 200px;
  background-image: url("../../assets/Layer\ 3\ copy\ 2.png");
  background-size: contain;
  z-index: 1;
  animation: appearAndMove2 3s ease-in-out 2s forwards;
}
.overlay-image-23 {
  content: "";
  opacity: 0;
  position: absolute;
  top: 90px;
  left: 710px;
  width: 285px;
  height: 135px;
  background-image: url("../../assets/Layer\ 3\ copy\ 4.png");
  background-size: contain;
  z-index: 1;
  animation: appearAndMove2 4s ease-in-out 3s forwards;
}
.overlay-image-24 {
  content: "";
  opacity: 0;
  position: absolute;
  top: 400px;
  left: 893px;
  width: 130px;
  height: 82px;
  background-image: url("../../assets/Layer\ 3\ copy\ 3.png");
  background-size: contain;
  z-index: 1;
  animation: appearAndMove2 2s ease-in-out 1s forwards;
}
.overlay-image-25 {
  content: "";
  opacity: 0;
  position: absolute;
  top: 520px;
  left: 893px;
  width: 130px;
  height: 80px;
  background-image: url("../../assets/Layer\ 3\ copy\ 5.png");
  background-size: contain;
  z-index: 1;
  animation: appearAndMove2 2s ease-in-out 1s forwards;
}
.overlay-image-26 {
  position: absolute;
  top: 262px;
  left: 73.5px;
  width: 5px;
  height: 378px;
  background-image: url("../../assets/Rectangle\ 1.png");
  background-size: contain;
  z-index: 1;
}
/* ------------ Анимации -------------- */
@keyframes appearAndMove2 {
  0% {
    opacity: 0; /* Начальное состояние: изображение невидимо */
    transform: translate(50px, 50px); /* Начальное состояние: нет смещения */
  }
  100% {
    opacity: 1; /* Конечное состояние: изображение видимо */
    transform: translate(
      0px,
      0px
    ); /* Конечное состояние: смещение наискось вверх влево */
  }
}
